@use '../abstracts/breakpoints' as *;
@use '../abstracts/typography' as *;



.calc-container {
    width: min(32.25rem, 90vw);
    max-width: 32.25rem;
    overflow: hidden;
}

.calc {
    padding: 1.25rem;
    border-radius: .75rem;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;

    @include dt {
        height: fit-content;
        gap: 2rem;
    }

    &-row {
        width: 100%;
        justify-content: space-between;
    }

    &-screen {
        height: 6rem;
        border-radius: .75rem;
        justify-content: flex-end;
        align-items: center;
        font-size: $fs-800;
        padding-right: .5em;
        margin-bottom: 1rem;

        @include dt {
            height: 7.25rem;
            border-radius: .75rem;
            font-size: 3rem;
        }

        &-output {
            height: min-content;
        }
    }
}

button {
    cursor: pointer;
    border: none;
    width: 21%;
    border-radius: .25em;
    padding-top: .75rem;
    min-height: 3.5rem;

    @include dt {
        border-radius: .5rem;
        font-size: $fs-800;
    }
}

.longBtn {
    width: 47%;
}